# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Casa\Desktop\sofka\Curso programacion reactiva y funcional\CrudReactivoWebFlux\workshop-reactor-core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
